{%load static%}
<link rel="stylesheet" href="{% static 'css/jquery.dropdown.css' %}">
<form id='submit'>
    {%csrf_token%}
    <input type='text' name='name' />
    <input type='text' name='id' />
    <div class='demo'>
        <select style='display: none;' id='select' multiple>
        {%for s in subject %}
        <option value='{{ s.s_id }}' >{{ s.s_id }} {{ s.name}}</option>
        {%endfor%}
    </select>
    </div>
    <input type='submit' name='submit' />
    <div id='error'></div>
</form>
<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
<script src="{% static 'js/jquery.dropdown.js'%}"></script>
<script src='{% static "js/add_course.js"%}' type="text/javascript">
</script>