{%load static%} {%load filter%}
<link rel="stylesheet" href="{% static 'css/jquery.dropdown.css' %}">
<form id='submit'>
    {%csrf_token%}
    <input type='text' name='name' />
    <input type='text' name='id' />
    <div id='added'>
    </div>
    <select name='subject' class='sub' onchange='changeTeacher()'>
        <option> </option>
        {% for x in subject %}
        <option value='{{x.id}}'  >{{x.s_id}} {{x.name}}</option>
        {%endfor%}
    </select>
    <select class='teach'>
        <option> </option>
        {% for x in teacher %} {% for y in subject %} {% if x.id|filter:y.id %}
        <option value='{{x.id}}' class='teacher {{y.id}}' id='{{x.id}}' style='display: none;'>{{x.profile.user.username}}</option>
        {%endif%} {%endfor%} {%endfor%}
    </select>
    <button class="addsbject" onclick='addsubject()'>save and add more</button>
    <input type='submit' name='submit' />
    <div id='error'></div>
</form>
<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
<script src="{% static 'js/jquery.dropdown.js'%}"></script>
<script src='{% static "js/add_course.js"%}' type="text/javascript">
</script>