 {%load static%}
<h2>admin</h2>
<button onclick="window.location.href='/logout/'">logout</button>
<button onclick="window.location.href='add_teacher/'">Add Faculty</button>
<button onclick="window.location.href='add_admin/'">Add admin</button>
<button onclick="window.location.href='add_subject/'">Add subject</button>
<button onclick="window.location.href='add_course/'">Add course</button>
<button onclick="window.location.href='add_student/'">Add student</button>
<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
<script src='{% static "js/admin_dashboard.js"%}' type="text/javascript"></script>